.medical-history-container{
  background-color: #4c0df052;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.548);
  height: 400px;
  margin-left: 60px;
  margin-top: 9rem;
  overflow-y: scroll;
  padding: 15px;
  width: -webkit-fill-available;
 }
 
.history-item-info{
      text-align: left;
      width: auto;
    }
.button-mh p{
  margin-top: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
}

.medical-history-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .button-mh {
    background-color: #ffffffb8!important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18.5px;
    margin-top: 8px;
    padding: 5px;
    text-align: left;
    width: -webkit-fill-available;
  }
  
  .button-mh:hover {
    background-color: #fafeffd2!important;
    transform: translateY(-2px);
  }

  .history-card {
    background-color: #ffffffb8;
    border-radius: 5px;
    padding: 10px;
    text-transform: capitalize;
  }

  .medical-card-button{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ffffffb8;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 0rem;
    border-radius: 5px;
  }

  .medical-card-button a{
    text-decoration: none !important;
    color: white;
  }
  
  .medical-card-button:hover {
    background-color: whitesmoke;
    transform: translateY(-2px);
    color: rgb(0, 0, 0);
    border-radius: 0px;
  }
 
  
  @media screen and (max-width: 1405px) {
    .medical-history-container ,.medical-history-text,.history-item-info{
      width: 97%;

    }
    .button-mh{
      width: 99%;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .medical-history-container,.medical-history-text,.history-item-info {
      width: 93%;
    }
    .button-mh{
      width: 95%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .medical-history-container,.medical-history-text,.history-item-info {
      width: 80%;
    }
    .medical-history-text{
      font-size: smaller;
    }
  }
  
  @media screen and (max-width: 780px){
    .medical-history-container {
        width: 86%;
    }
  }

  @media screen and (max-width: 768px) {
    .medical-history-text{
      font-size: smaller;
    }
    
    }
    @media screen and (max-width: 580px){
      .medical-history-container {
        width: 80%;
        margin-left: 40px;
      }}