.medical-history-container{
    margin-top: 5rem;
    margin-left: 0.8rem;
    background-color: #b2d8fe;
    display: grid;
    width: 800px;
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
 }
 
.history-item-info{
      text-align: left;
      width: 769px;
    }
.history-item-info p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.medical-history-list{
    font-family: 'Times New Roman', Times, serif;
}

.medical-history-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .medical-history-list button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18.5px;
    text-align: left;
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    padding: 5px;
  }
  
  .medical-history-list button:hover {
    background-color: #cbe9f9a3;
  }
  
  .history-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
  }

  .medical-card-button{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    /* Gradient border */
    border: 2px solid;
    border-image: linear-gradient(to right, #548dd8, #5856db);
    border-image-slice: 1;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 0rem;
    border-radius: 0px;
  }

  .medical-card-button a{
    text-decoration: none !important;
    color: white;
  }
  
  .medical-card-button:hover {
    background-image: linear-gradient(to right, #6cb8ff, #a9dae2cb, #dccdff);
    transform: translateY(-2px);
    color: rgb(0, 0, 0);
    border-radius: 0px;
  }