.medical-history-container{
    margin-top: 5rem;
    margin-left: 23px;
    background-color:#4c0df052;
    width: 785px;
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
 }
 
.history-item-info{
      text-align: left;
      width: 769px;
    }
.history-item-info p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.medical-history-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .medical-history-list button {
    background-color: #ffffffb8!important;
    border: none;
    cursor: pointer;
    font-size: 18.5px;
    text-align: left;
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    padding: 5px;
  }
  
  .medical-history-list button:hover {
    background-color: #fafeffd2!important;
    transform: translateY(-2px);
  }

  .history-card {
    background-color: #ffffffb8;
    border-radius: 5px;
    padding: 10px;
    text-transform: capitalize;
  }

  .medical-card-button{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ffffffb8;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 0rem;
    border-radius: 5px;
  }

  .medical-card-button a{
    text-decoration: none !important;
    color: white;
  }
  
  .medical-card-button:hover {
    background-color: whitesmoke;
    transform: translateY(-2px);
    color: rgb(0, 0, 0);
    border-radius: 0px;
  }