.Health-Article-container{
  border-radius: 12px;
  margin-top: 5rem;
  margin-left: 100px;
  margin-right: 0.8rem;
  display: grid;
  background: #d4cdfd;
  padding: 15px;
  width: 585px;
}
.body {
  padding: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-md-6 {
    position: relative;
  }
  
  .History-card-container {
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 700px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 45%;
    }
  
    .History-card-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .History-card-container > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .HealthArticle {
      display: none;
    }
  }
  
  