.Health-Article-container{
  border-radius: 12px;
  margin-top: 25px;
  margin-left: 125px;
  margin-right: 0px;
  margin-bottom: 170px;
  display: grid;
  background: #4c0df052;
  padding: 15px;
  width: 565px;
  height: 486px;
  overflow-y: overlay;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
}
.col-md-8 {
    height: 488px;
    width: 800px!important;
    margin-bottom: 12px;
    margin-left: 23px;
    margin-top: 44px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    background: #acdde5;
}
.mb-0 {
  margin-bottom: 0!important;
  margin-left: 12px;
  padding: 8px;
}
.map-container{
  width: 800px;
  height: 416px;
}
.Article-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #000000;
  transition: background-color 0.2s ease;
}

.Article-item:hover {
  background-color: #fafeffd2!important;
  color: #000000;
}

.Article-item-info {
  flex: 1;
}

.Article-item h3 {
  margin: 0;
  font-size: 1.2rem;
}

.Article-item p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

.Health-Article-list ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.Health-Article-list a {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.Health-Article-list a:hover {
  color: #5fcaff;
}

.body {
  padding: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px!important;
    margin-left: -20px!important;
  }
  
  .col-md-6 {
    position: relative;
  }
  
  .History-card-container {
    display: flex;
    justify-content: space-between;
  }
  .col-md-7 {
    flex: 0 0 auto!important;
    width: 50%!important;
}
  @media (max-width: 700px) {
    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-md-7 {
      flex: 0 0 auto;
      width: 50%;
    }
    .History-card-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .History-card-container > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .HealthArticle {
      display: none;
    }
  }
  
  