@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.header{
  height: 5.3rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}


.navbar {
box-shadow: 0 0 10px rgba(0,0,0,.1);
background-color: #ffffff21;
height: 85px;
justify-content: center;
left: 0;
max-width: 100%;
position: absolute!important;
right: 0;
top: 0;
z-index: 1;
}


.nav-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e1c1c;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 6px;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: -3px;
  margin-left: -30px;
}

.navbar .nav-sign-out {
  flex-shrink: 0; /* Do not shrink */
  font-size: 24px;
  cursor: pointer;
  color: #1e1c1c;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content vertically */
}


/* Footer */
.sitefooter
{
  background-color: rgb(8 8 8 / 81%);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: #fff;
  margin-top: 25px;
}
.sitefooter hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.sitefooter hr.small
{
  margin:20px 0
}
.sitefooter h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.sitefooter a
{
  color:#737373;
}
.sitefooter a:hover
{
  color:red;
  text-decoration:none;
}
.footerlinks
{
  padding-left:0;
  list-style:none;
  text-decoration: none;
}
.footerlinks li
{
  display:block
}
.footerlinks a
{
  color: aliceblue;
  text-decoration: none;
}
.footerlinks a:active,.footerlinks a:focus,.footerlinks a:hover
{
  color:rgb(45, 69, 191);
  text-decoration:none;
}
.footerlinks.inline li
{
  display:inline-block
}
.sitefooter .social-icons
{
  margin-right: auto;
  text-align: right;
}
.sitefooter .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: #ffffff;
}
.copyrighttext
{
  margin: 8px;
}
@media (max-width:991px)
{
  .sitefooter [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .sitefooter
  {
    padding-bottom:0
  }
  .sitefooter .copyrighttext,.sitefooter .social-icons
  {
    text-align:center
  }
  .sitefooter
  {
    padding-left: 10px;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color: #0dcaf0;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/* Header css */

.app__navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff21;
  padding: 1rem 2rem;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 90px;
  border-radius: 15px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}


.app__navbar-links a{
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  padding: 15px;
}

.app__navbar-links a:hover{
  transform: translateY(-2px);
  color:black;
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

.app__navbar-login a {
  margin-top: -1rem;
  text-decoration: none;
  transition: 0.5s ease;
  padding: 12px;
  font-size: 20px;
  font-family: monospace;
  color: rgb(0, 0, 0);
  background-color: #eceeef7c;
  border-radius: 20px;
}

.app__navbar-login a:hover {
  color: #621ebc;
}

.app__navbar-login div {
  width: 1px;
  height: 53px;
  background: #1ebc92;
  margin-top: -12px;
  margin-left: -1px;
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1ebc92;
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var #1ebc92;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen_links {
  list-style: none;
  text-decoration:none;
  color:white;
  
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: var #1ebc92;
  font-size: 2rem;
  text-align: center;
  font-family:'Montserrat',sans-serif
}

.app__navbar-smallscreen_links li:hover {
  color: ffff;
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo img {
    width: 110px;
  }
}

.footer-menu{
  list-style: none;
  text-align: left;
  margin-left: -20px;
  margin-top: 18px;
}
.footer-menu a{
  color: aliceblue;
  text-decoration-line: none;
}

.footer-menu li{
  margin-top: 8px;
}
