.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;
    background: linear-gradient(to right, #99dbe5, #9254d8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:0px;
    width: 100%;
    margin-bottom: 0 !important;
    
  }

  .navbar, ::after, ::before {
    box-sizing:unset !important;
}
  .nav-title {
    padding-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #1e1c1c;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
    border:4px;
  }
  
  .nav-title {
    margin-left: 0px;
  }

  .footer {
    background: linear-gradient(to right, #9254d8, #99dbe5);
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    position: fixed;
    width: 100%;
  }