.header{
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  height: 65px;
  background: linear-gradient(to right, #99dbe5, #9254d8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; /* Center the content horizontally */
  z-index: 1;
}

.nav-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e1c1c;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: -10px;
  margin-left: -25px;
}

.navbar .nav-sign-out {
  flex-shrink: 0; /* Do not shrink */
  font-size: 24px;
  cursor: pointer;
  color: #1e1c1c;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content vertically */
}

.nav-title {
  margin-left: 0px;
}

.footer {
  background: linear-gradient(to right, #9254d8, #99dbe5);
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  z-index: 999;
}


