.hero-section {
  background-image: url('../assets/background-img/backg.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  margin-top: 0px;
  margin-bottom: 150px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 160px;
}

.card {
  margin: 10px;
  width: calc(33.33% - 20px);
  background-color: #150e0e97 !important;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 1rem;
  margin-top: 1.5rem;
  color: azure;
}

@media screen and (max-width: 1024px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 6px 20px rgba(57, 255, 219, 0.895);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card .card-text {
  margin: 1rem;
  color: #fffcfc;
  text-align: left !important;
}

.login-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  /* Gradient border */
  border: 2px solid;
  border-image: linear-gradient(to right, #54cdd8, #54d8c6);
  border-image-slice: 1;
  text-decoration: none;
  border-radius: 0px;
}

.card-body .login-btn a{
  color: white;
  text-decoration: none;
}

.login-btn:hover {
  background-image: linear-gradient(to right, #1083e1, #32c8d0, #54d894);
  transform: translateY(-2px);
  border-radius: 0px;

}
