.hero-section {
  background-image: url('../assets/herobg-2.jpg');
  background-size: cover;
  background-position: center;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.card {
  margin: 10px;
  width: calc(33.33% - 20px);
  background-color: #150e0e97 !important;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 2rem;
  margin-top: 1.5rem;
  color: azure;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.795);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card .card-text {
  margin: 1rem;
  color: #fffcfc;
  text-align: left !important;
  font-size: lar;
}

.login-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #54cdd8;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration-color: aliceblue;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
  letter-spacing: 1px;
  cursor: pointer;
}
.card-body .login-btn a{
  text-decoration: none !important;
  color: white;
}

.login-btn:hover {
  background-color: #dce4e7;
  transform: translateY(-2px);
}

.login-btn:hover a {
  color: black;
}