.login-page {
  background-image: url('../assets/background-img/bg-img4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  margin-top: 0px;
}

.log-form-container {
  display: grid;
  height: 100vh;
  place-items: center;
}

.log-form-container form {
  width: 400px;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.548);
  opacity: 1 !important;
  max-height: 390px;
  background-color: rgba(0, 0, 0, 0.554);
  color: white;
  margin-bottom: 8px;
}

.log-btn .login-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 6.19rem;
  height: 2.5rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  /* Gradient border */
  border: 2px solid;
  border-image: linear-gradient(to right, #54cdd8, #54d8c6);
  border-image-slice: 1;
  margin-left: 6.7rem;
  border-radius: 0px;
}

.log-btn .login-btn a {
  text-decoration: none !important;
  color: white;
}

.log-btn .login-btn:hover {
  background-image: linear-gradient(to right, #1083e1a1, #32c8d0a1, #54d894b4);
  transform: translateY(-2px);
  border-radius: 0px ;
}
button.ui-button-li{
  display: inline-block;
  width: 150px;
  margin-top: 30px;
  padding: 0.5rem 0rem;
  background: #ffffffb8;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 80px;
  border-radius: 5px;
  color: black;
}

button.ui-button-li:hover{
  background-color: whitesmoke;
  transform: translateY(-2px);
  color: rgb(0, 0, 0);
  border-radius: 0px;
}

.sign-btn {
  display: flex;
  justify-content: flex-start;
  padding-top: 0px;
  margin-top: 0%;
  width: 12.2rem;
  height: 3.4rem;
  margin-left: 0.7rem;
}

.sign-btn a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  /* Gradient border */
  border: 2px solid;
  border-image: linear-gradient(to right, #54cdd8, #54d8c6);
  border-image-slice: 1;
  text-decoration: none;
  margin-left: 6rem;
}

.sign-btn a:hover {
  background-image: linear-gradient(to right, #1083e1, #32c8d0, #54d894);
  transform: translateY(-2px);
  color: white;
}

.ui-button-si{
  display: inline-block;
  width: 150px;
  margin-top: 30px;
  padding: 0.5rem 0rem;
  background: #ffffffb8;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 80px;
  border-radius: 5px;
  color: black;
}
.ui-button-si a{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: 43px;
  color: black;
}
.ui-button-si:hover{
  background-color: whitesmoke;
  transform: translateY(-2px);
  color: rgb(0, 0, 0);
  border-radius: 0px;
}

body {
  margin: 0;
  padding: 0;
}
