a{
  text-decoration: none !important;
  color: white !important;
  }

.footer{ 
    background: linear-gradient(to right, #9254d8, #99dbe5);
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    position: fixed;
    width: 100%;
  }