.profileImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profileContainer{
    text-align: center;
  }

  .sign-out {
    flex-shrink: 0;
    font-size: 28px;
    cursor: pointer;
    color: #1e1c1c;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;
  }