.profileImage {
    height: 175px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
  }

  .offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%232CCCFF'/%3E%3Cstop offset='1' stop-color='%23DA3DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%232eafff'/%3E%3Cstop offset='1' stop-color='%23c536f9'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%232f91ff'/%3E%3Cstop offset='1' stop-color='%23b030f2'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%233175ff'/%3E%3Cstop offset='1' stop-color='%239a2bea'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%233259ff'/%3E%3Cstop offset='1' stop-color='%238527e2'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23343dff'/%3E%3Cstop offset='1' stop-color='%237125d7'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%234935ff'/%3E%3Cstop offset='1' stop-color='%23612ac5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%236737ff'/%3E%3Cstop offset='1' stop-color='%23532fb4'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%238438ff'/%3E%3Cstop offset='1' stop-color='%234932a4'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23a13aff'/%3E%3Cstop offset='1' stop-color='%23413594'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23be3bff'/%3E%3Cstop offset='1' stop-color='%233b3885'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23DA3DFF'/%3E%3Cstop offset='1' stop-color='%23393B77'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}
  .profileContainer{
    text-align: center;
  }

  .sign-out {
    flex-shrink: 0;
    font-size: 28px;
    cursor: pointer;
    color: aliceblue;    
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;
    margin-top: 12px;
  }

  @media screen and (max-width: 400px){
    .sign-out-a{
    display: none;
    }
  }

.sign-out-a{
  font-size: 18px;
  margin-left: 285px;
  margin-bottom: -38px;
  color: aliceblue;
}
  .username{
    font-size: 20px;
    font-family: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .username-id{
    background: beige;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  .menu-option {
    background: #fcfcfc;
    padding: 12px;
    display: flex;
    border: black;
    border-style: none;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 10px;
    color: black;
}

.menu-option:hover{
  transform: translateY(-2px);
  color: rgb(103, 103, 103)
}