.signup-page{
  /* background-image: url('../assets/background-img/bg-img4.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  margin-top: 0px;
}

.sign-form-container {
  display: grid;
  place-items: center;
  height: 600px;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 200px;
  }
  
  .sign-form-container form {
    width: 500px;
    margin-top: 30px;
    height: fit-content;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.548);
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.554);
    color: white;
  }
  
  .create-btn .create {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration-color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    /* Gradient border */
    border: 2px solid;
    border-image: linear-gradient(to right, #54cdd8, #54d8c6);
    border-image-slice: 1;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 122px;
    border-radius: 0px;
  }

  .create-btn .create a{
    text-decoration: none !important;
    color: white;
  }
  
  .create-btn .create:hover {
    background-image: linear-gradient(to right, #1083e1, #32c8d0, #54d894);
    transform: translateY(-2px);
    color: white;
    border-radius: 0px;
  }
  
  button.ui-button-su{
    display: inline-block;
    width: 150px;
    margin-top: 30px;
    padding: 0.5rem 0rem;
    background: #ffffffb8;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 118px;
    border-radius: 5px;
    color: black;
  }
  
  button.ui-button-su:hover{
    background-color: whitesmoke;
    transform: translateY(-2px);
    color: rgb(0, 0, 0);
    border-radius: 0px;
  }
  
  .form-label-su {
    margin-bottom: 12px;
    margin-top: 12px;
  }