.sign-form-container {
    
    display: flex;
    justify-content: center;
 
    
    }
  
  .sign-form-container form {

    height: 400px;
    width: 400px;
    margin:auto;
    padding: 50px;
    background-color: rgba(93, 221, 225, 0.473);
    border-radius: 15px;
    justify-content:center;
  }
  
  .sign-log-btn{

    display: flex;
    justify-content: center;
    padding-top: 30px;
    }

  

  .sign-lg-btn{

    width: 200px;
    border-radius: 50px;
    text-transform:capitalize;
  }